In [39]:
import pandas as pd

In [40]:
df_1 = pd.read_csv("Desktop\MM5kM2019.csv")

In [42]:
df_1.count()

Date                                                  71
Trips over the past 24-hours (midnight to 11:59pm)    71
Miles traveled today (midnight to 11:59 pm)           71
Total Annual Members (All Time)                       71
24-Hour Passes Purchased (midnight to 11:59 pm)       71
3-Day Passes Purchased (midnight to 11:59 pm)         71
dtype: int64

In [43]:
df_2 = pd.read_csv("Desktop\cZMp82019.csv")

In [44]:
df_2.count()

Date                                                  90
Trips over the past 24-hours (midnight to 11:59pm)    90
Miles traveled today (midnight to 11:59 pm)           90
Total Annual Members (All Time)                       90
24-Hour Passes Purchased (midnight to 11:59 pm)       90
3-Day Passes Purchased (midnight to 11:59 pm)         90
dtype: int64

In [45]:
frames=[df_1, df_2]

In [46]:
result=pd.concat(frames)

In [47]:
result.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/2019,51399,75072,303223,1466,76
1,4/2/2019,57903,83399,303386,1483,73
2,4/3/2019,67924,108780,303552,3013,79
3,4/4/2019,66403,104268,303699,2633,87
4,4/5/2019,34470,46930,303766,812,46

In [48]:
print(result)

         Date  Trips over the past 24-hours (midnight to 11:59pm)  \
0    4/1/2019                                              51399
1    4/2/2019                                              57903
2    4/3/2019                                              67924
3    4/4/2019                                              66403
4    4/5/2019                                              34470
5    4/6/2019                                              66532
6    4/7/2019                                              64713
7    4/8/2019                                              70514
8    4/9/2019                                              59336
9   4/10/2019                                              70988
10  4/11/2019                                              62430
11  4/12/2019                                              58010
12  4/13/2019                                              71500
13  4/14/2019                                              58474
14  4/15/2019                                              45663
15  4/16/2019                                              63323
16  4/17/2019                                              65249
17  4/18/2019                                              61568
18  4/19/2019                                              64939
19  4/20/2019                                              36785
20  4/21/2019                                              51869
21  4/22/2019                                              44112
22  4/23/2019                                              75443
23  4/24/2019                                              77736
24  4/25/2019                                              60834
25  4/26/2019                                              37121
26  4/27/2019                                              56442
27  4/28/2019                                              41204
28  4/29/2019                                              60801
29  4/30/2019                                              62668
..        ...                                                ...
60   3/2/2019                                              18001
61   3/3/2019                                              23240
62   3/4/2019                                              28424
63   3/5/2019                                              37103
64   3/6/2019                                              33287
65   3/7/2019                                              35913
66   3/8/2019                                              40416
67   3/9/2019                                              38929
68  3/10/2019                                              18897
69  3/11/2019                                              52412
70  3/12/2019                                              47214
71  3/13/2019                                              50121
72  3/14/2019                                              57476
73  3/15/2019                                              57517
74  3/16/2019                                              42144
75  3/17/2019                                              36826
76  3/18/2019                                              46535
77  3/19/2019                                              52997
78  3/20/2019                                              55396
79  3/21/2019                                              21248
80  3/22/2019                                              35477
81  3/23/2019                                              37379
82  3/24/2019                                              50318
83  3/25/2019                                              53463
84  3/26/2019                                              55421
85  3/27/2019                                              54483
86  3/28/2019                                              58538
87  3/29/2019                                              59324
88  3/30/2019                                              66672
89  3/31/2019                                              32768

    Miles traveled today (midnight to 11:59 pm)  \
0                                         75072
1                                         83399
2                                        108780
3                                        104268
4                                         46930
5                                        143054
6                                        138291
7                                        123304
8                                         86248
9                                        112985
10                                        93232
11                                        92517
12                                       159264
13                                       123470
14                                        71673
15                                       106799
16                                       109668
17                                        98909
18                                       120796
19                                        68489
20                                       114490
21                                        71869
22                                       143334
23                                       144473
24                                       101124
25                                        55000
26                                       111440
27                                        68976
28                                        98707
29                                        99225
..                                          ...
60                                        27381
61                                        35764
62                                        39154
63                                        50155
64                                        42845
65                                        46582
66                                        55748
67                                        68739
68                                        28056
69                                        80705
70                                        66518
71                                        71556
72                                        86864
73                                        95073
74                                        74307
75                                        64440
76                                        68775
77                                        78320
78                                        83442
79                                        27005
80                                        49691
81                                        61407
82                                       100843
83                                        79824
84                                        81425
85                                        78975
86                                        87465
87                                        91975
88                                       144759
89                                        52486

    Total Annual Members (All Time)  \
0                            303223
1                            303386
2                            303552
3                            303699
4                            303766
5                            303958
6                            304216
7                            304525
8                            304677
9                            304865
10                           305003
11                           305134
12                           305362
13                           305584
14                           305722
15                           305906
16                           306077
17                           306205
18                           306365
19                           306453
20                           306647
21                           306827
22                           307082
23                           307320
24                           307484
25                           307578
26                           307737
27                           307862
28                           308020
29                           308192
..                              ...
60                           300213
61                           300264
62                           300319
63                           300367
64                           300409
65                           300450
66                           300503
67                           300574
68                           300611
69                           300691
70                           300757
71                           300825
72                           300904
73                           300987
74                           301086
75                           301187
76                           301278
77                           301381
78                           301476
79                           301520
80                           301579
81                           301671
82                           301827
83                           301952
84                           302083
85                           302176
86                           302430
87                           302587
88                           302941
89                           303060

    24-Hour Passes Purchased (midnight to 11:59 pm)  \
0                                              1466
1                                              1483
2                                              3013
3                                              2633
4                                               812
5                                              8852
6                                              8191
7                                              3804
8                                              1684
9                                              2845
10                                             2222
11                                             2811
12                                            10443
13                                             7263
14                                             1816
15                                             3197
16                                             3276
17                                             2845
18                                             5782
19                                             4049
20                                             7439
21                                             3426
22                                             5928
23                                             5868
24                                             3569
25                                             1387
26                                             7022
27                                             3338
28                                             2829
29                                             2715
..                                              ...
60                                              570
61                                             1115
62                                              563
63                                              552
64                                              376
65                                              468
66                                              852
67                                             3010
68                                              662
69                                             1749
70                                             1003
71                                             1194
72                                             1826
73                                             2843
74                                             3369
75                                             2755
76                                             1361
77                                             1602
78                                             1723
79                                              342
80                                             1076
81                                             2693
82                                             5896
83                                             1562
84                                             1715
85                                             1583
86                                             1966
87                                             2573
88                                             9151
89                                             1916

    3-Day Passes Purchased (midnight to 11:59 pm)
0                                              76
1                                              73
2                                              79
3                                              87
4                                              46
5                                             139
6                                              87
7                                              89
8                                              79
9                                             116
10                                             93
11                                            118
12                                            128
13                                            119
14                                             75
15                                            134
16                                             89
17                                            104
18                                            271
19                                            115
20                                            140
21                                             69
22                                            202
23                                            135
24                                            114
25                                             76
26                                            151
27                                             87
28                                            104
29                                             94
..                                            ...
60                                             25
61                                             22
62                                             23
63                                             24
64                                             27
65                                             15
66                                             32
67                                             35
68                                             16
69                                             56
70                                             40
71                                             42
72                                             82
73                                            119
74                                             97
75                                             73
76                                             54
77                                             49
78                                             58
79                                             14
80                                             51
81                                             74
82                                             79
83                                             64
84                                             49
85                                             56
86                                             87
87                                            103
88                                            135
89                                             52

[161 rows x 6 columns]

In [53]:
result.to_csv('Results.csv', encoding='utf-8', index=False)